@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#banner{
    position: relative;
    width: 100%;
    margin-top: 50px; 
}
#banner img{
    width: 100%;
    height: 100%;
}
.banner-word{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    background: rgba(0,0,0,0.4);
}
.banner-word h2{
    text-align: center;
    font-size: 22px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
#banner a{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60%;
    text-decoration: none;
    color: white;
    background: black;
    padding: 5px;
    border-radius: 10px;
}
#banner a:hover{
    background: rgba(0,0,0,0.4);
}
@media (min-width: 1024px) {
    #banner{
        height: 100vh;
    }
    #banner img{
        height: 100%;
        object-fit:fill;
    }
    .banner-word{
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,0.4);
    }
    .banner-word h2{
        font-size: 40px;
    }
    .banner-word a{
        font-size: 20px;
        padding: 15px;
        background: black;
    }
   
    #contenedor h1{
        margin-left: 200px;
    }
    #menu{
        margin-right: 100px;
    }
}